body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#E9B6D4;
    padding: 50px;
}
h2{
    color:rgb(108, 55, 148);
    font-style: italic;
}
.sub_negro{
    color:black;
}
.derecha{
    text-align: right;
}
h1{
    text-align: center;
    text-shadow: 3px 3px rgb(226, 83, 150);
}
.contenedor{
    display: flex;
    justify-content:space-between;
    border: solid 2px rgb(66, 7, 66);
    box-shadow: 20px 20px rgb(230, 70, 222);
    
}
.pintora{
    background-color:rgb(202, 162, 231) ;
    font-weight: bold;
    text-align: justify;
    padding: 10px;
    border: dashed 2px rgb(212, 42, 175);
    color:rgb(108, 55, 148);
    }
.contenedor h3{
        text-align: center;
    }
.contenedor h4{
        color: rgb(230, 70, 222);
        text-align: center;
       }